@(widgets: Seq[Widget], form: Form[Widget])

@main("Widgets") {

  <h1>Widgets</h1>
  <table>
    <thead>
      <tr><th>Name</th><th>Price</th>
    </thead>
    <tbody>
    @for(w <- widgets) {
      <tr><td>@w.name</td><td>@w.price</td>
    }
    </tbody>
  </table>

  <hr/>

  @helper.form(routes.Application.createWidget) {

    <input type="text" id="@{form("name").id}" name="@{form("name").label}" value="@{form("name").value}">

    <input type="text" id="@{form("price").id}" name="@{form("price").label}" value="@{form("price").value}">

    <button type="submit">Create widget</button>

  }

}
